
<!DOCTYPE html>
 <!-- Team A / Supreme Court Twitter -->

<html>
<title>SCOTUS Tweet Database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main">
  <!-- Header -->
  <header id="portfolio">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="w3-container">
    <h1><b>SCOTUS Tweet Database</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
        <form action="universal.cgi" method="GET">
        <table>
            <tr>
                <th>User</th>
                <th>Hashtag</th>
                <th>Keyword</th>
                <th>Date</th>
                <th></th>
                
            </tr>
            <tr>
                <td><input type="user" name ="myuser"></td>
                <td><input type="hashtag" name ="myhashtag"></td>
                <td><input type="keyword" name ="mykeyword"></td>
                <td><input type="daterange" name ="mydaterange"></td>
                <td><input type="submit" name = "submit1" value="Search"></td>
            </tr>
        </table>
        </form>
    </div>
    </div>
  </header>
    {% for tweet in tweets %}
        {% if forloop.counter|divisibleby:2 == False%}
            <div class="row">
        {% endif %}
            <div class="col s6">
              <div class="card small">
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{tweet.originalText}}<i class="material-icons right">more_vert</i></span>
                  <h5>- @{{tweet.user.username}} {%if tweet.user.isVerified %}<i class="material-icons">check_circle</i>{% endif %}</h5>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                  <h5>{{tweet.createdAt}}</h5>
                  <h5>{{tweet.user.location}}</h5>
                  <h5>Retweets: {{tweet.numRetweetsOriginal}}</h5>
                  <h5>Favorites: {{tweet.numFavoritesOriginal}}</h5>
                  <p>Last updated: {{tweet.lastUpdated}}</p><p/>
                </div>
              </div>
            </div>
        {% if forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="w3-container w3-padding-large" style="margin-bottom:32px">
            <p>
                <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
                    <i class="fa fa-download w3-margin-right"></i>Download
                </button>
            </p>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <a class="waves-effect waves-light btn" href="?pull=true">Pull Tweets</a>
    </div>
        </div>

    <div class="pagination">
        <span class="step-links">
            {% if tweets.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ tweets.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ tweets.number }} of {{ tweets.paginator.num_pages }}.
            </span>

            {% if tweets.has_next %}
                <a href="?page={{ tweets.next_page_number }}">next</a>
                <a href="?page={{ tweets.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<style>
.card {
    margin-left: 20px;
    margin-right: 20px;
}
</style>